nav {
  display: grid; 
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);

  grid-template-areas:
    "iconLogo"
    "."
    "menu"
    "menu"
    "menu"
    "."
    "logout"; 
}

.icon-section {
  grid-area: iconLogo;
  display: flex;
  justify-content: space-evenly;
  gap: 1em; 
  padding-top: 15px;
  margin-left: 1.5em;
}

.icon-section img {
  width: 25%;
}

.icon-section h1{
  color: white; 
  font-family: 'Inter', sans-serif;
  font-style: oblique;
  font-size: 1.3rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  padding-right: 1em;
  margin-top: 2vh;
}

@media screen and (max-width: 1400px) {
  .icon-section h1 {
    font-size: 1rem;
  }
}