.table-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px 70px 50px repeat(3, 1fr);

  grid-template-areas:
    'search .'
    'movs filter1'
    'searchTags searchTags'
    'data-table  data-table'
    'data-table  data-table'
    'data-table  data-table';
}

.table-title {
  grid-area: movs;
  padding-left: 1em;
}

.table-filter {
  grid-area: filter1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.table-filter > select {
  border: none;
  background-color: inherit;
  font-size: inherit;
  padding-inline: 1.5em;
}

.table-section > table {
  grid-area: data-table;
  border-collapse: collapse;
}

.table-section th {
  font-weight: 400;
  color: #736969; 
}

.table-section tr:has(td):hover {
  background-color: #dddddd;
  border: none;
  gap: 0;
}

.table-section > table td {
  font-weight: 500;
  text-align: center;
  padding: 10px 0; 
}

.table-section td:has(input[type="checkbox"]){
  padding-left: 3%;
  text-align: start;
}

.table-section input[type="checkbox"] {
  accent-color: #03BB85;
}

@media (max-width: 1500px) {
  .table-section tr:nth-child(n+4) {
    display: none;
  }
}